<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.meuprojeto.dm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".VerMaisActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NovoUsuarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProdutoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuscaProdutoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfiguracoesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoliticaPrivacidadeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CentralAtendimentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SolicitarLojaTesteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmacaoPedidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TipoEntregaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DepartamentosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeuCarrinhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeusDadosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LojaSelecionadaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapaLojasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeusPedidosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaComprasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComoFuncionaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocalizacaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnuncioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>