<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.meuprojeto.dm">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone01"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.CategoriasActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LocaisEntregaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AvaliacaoEstabelecimentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VerMaisActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.NovoUsuarioActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ProdutoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuscaProdutoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfiguracoesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PoliticaPrivacidadeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CentralAtendimentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SolicitarLojaTesteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ConfirmacaoPedidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TipoEntregaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DepartamentosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MeuCarrinhoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeusDadosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LojaSelecionadaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MapaLojasActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MeusPedidosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ListaComprasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ComoFuncionaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>