<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.meuprojeto.dm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ProdutoActivity"></activity>
        <activity android:name=".BuscaProdutoActivity" />
        <activity android:name=".ConfiguracoesActivity" />
        <activity android:name=".PoliticaPrivacidadeActivity" />
        <activity android:name=".CentralAtendimentoActivity" />
        <activity android:name=".SolicitarLojaTesteActivity" />
        <activity android:name=".ConfirmacaoPedidoActivity" />
        <activity android:name=".TipoEntregaActivity" />
        <activity android:name=".DepartamentosActivity" />
        <activity android:name=".MeuCarrinhoActivity" />
        <activity android:name=".MeusDadosActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LojaSelecionadaActivity" />
        <activity android:name=".MapaLojasActivity" />
        <activity android:name=".MeusPedidosActivity" />
        <activity android:name=".ListaComprasActivity" />
        <activity android:name=".ComoFuncionaActivity" />
        <activity android:name=".LocalizacaoActivity" />
        <activity android:name=".AnuncioActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>